interactions:
- request:
    body: '{"projectId": "616f201f45a10655afeaaf9f", "keyColumns": [], "targetColumns":
      [], "excludeColumns": [], "allColumns": ["a", "b", "c", "d", "e", "f"], "monitoringMeta":
      {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns": []}, "meta":
      {}, "description": null}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: POST
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo
  response:
    content: '{"id":"616f616045a10655afeaafce","trainingSetId":"616f5f4345a10655afeaafc9","trainingSetName":"foo","number":5,"creationTime":"2021-10-20T00:22:56.404795Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5f4345a10655afeaafc9/616f616045a10655afeaafce","containerPath":"616f5f4345a10655afeaafc9/616f616045a10655afeaafce","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":true}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '85'
    status_code: 200
- request:
    body: '{"keyColumns": [], "targetColumns": [], "excludeColumns": [], "monitoringMeta":
      {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns": []}, "meta":
      {}, "pending": false}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: PUT
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo/5
  response:
    content: '{"id":"616f616045a10655afeaafce","trainingSetId":"616f5f4345a10655afeaafc9","trainingSetName":"foo","number":5,"creationTime":"2021-10-20T00:22:56.404Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5f4345a10655afeaafc9/616f616045a10655afeaafce","containerPath":"616f5f4345a10655afeaafc9/616f616045a10655afeaafce","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":false}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '81'
    status_code: 200
- request:
    body: ''
    headers:
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo
  response:
    content: '{"id":"616f5f4345a10655afeaafc9","projectId":"616f201f45a10655afeaaf9f","name":"foo","creationTime":"2021-10-20T00:13:55.998Z","meta":{}}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '9'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo
  response:
    content: '{"id":"616f5f4345a10655afeaafc9","projectId":"616f201f45a10655afeaaf9f","name":"foo","creationTime":"2021-10-20T00:13:55.998Z","meta":{}}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '49'
    status_code: 200
version: 1
