interactions:
- request:
    body: '{"projectId": "616f201f45a10655afeaaf9f", "keyColumns": [], "targetColumns":
      [], "excludeColumns": [], "allColumns": ["a", "b", "c", "d", "e", "f", "g"],
      "monitoringMeta": {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns":
      []}, "meta": {"foo": "bar"}, "description": null}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: POST
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/ts-0
  response:
    content: '{"id":"616f651345a10655afeaafe3","trainingSetId":"616f637f45a10655afeaafcf","trainingSetName":"ts-0","number":2,"creationTime":"2021-10-20T00:38:43.96827Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f637f45a10655afeaafcf/616f651345a10655afeaafe3","containerPath":"616f637f45a10655afeaafcf/616f651345a10655afeaafe3","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f","g"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{"foo":"bar"},"pending":true}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '151'
    status_code: 200
- request:
    body: '{"keyColumns": [], "targetColumns": [], "excludeColumns": [], "monitoringMeta":
      {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns": []}, "meta":
      {"foo": "bar"}, "pending": false}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: PUT
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/ts-0/2
  response:
    content: '{"id":"616f651345a10655afeaafe3","trainingSetId":"616f637f45a10655afeaafcf","trainingSetName":"ts-0","number":2,"creationTime":"2021-10-20T00:38:43.968Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f637f45a10655afeaafcf/616f651345a10655afeaafe3","containerPath":"616f637f45a10655afeaafcf/616f651345a10655afeaafe3","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f","g"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{"foo":"bar"},"pending":false}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '83'
    status_code: 200
[...]
- request:
    body: '{"projectId": "616f201f45a10655afeaaf9f", "trainingSetMeta": {}, "meta":
      {"foo": "bar"}, "trainingSetName": "ts-0"}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: POST
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/version/find?offset=0&limit=10000&asc=true
  response:
    content: '[{"id":"616f651345a10655afeaafe3","trainingSetId":"616f637f45a10655afeaafcf","trainingSetName":"ts-0","number"[...]
