interactions:
- request:
    body: '{"projectId": "616f201f45a10655afeaaf9f", "keyColumns": [], "targetColumns":
      [], "excludeColumns": [], "allColumns": ["a", "b", "c", "d", "e", "f"], "monitoringMeta":
      {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns": []}, "meta":
      {}, "description": null}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: POST
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo
  response:
    content: '{"id":"616f5f4445a10655afeaafca","trainingSetId":"616f5f4345a10655afeaafc9","trainingSetName":"foo","number":1,"creationTime":"2021-10-20T00:13:56.004964Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5f4345a10655afeaafc9/616f5f4445a10655afeaafca","containerPath":"616f5f4345a10655afeaafc9/616f5f4445a10655afeaafca","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":true}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '87'
    status_code: 200
- request:
    body: '{"keyColumns": [], "targetColumns": [], "excludeColumns": [], "monitoringMeta":
      {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns": []}, "meta":
      {}, "pending": false}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: PUT
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo/1
  response:
    content: '{"id":"616f5f4445a10655afeaafca","trainingSetId":"616f5f4345a10655afeaafc9","trainingSetName":"foo","number":1,"creationTime":"2021-10-20T00:13:56.004Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5f4345a10655afeaafc9/616f5f4445a10655afeaafca","containerPath":"616f5f4345a10655afeaafc9/616f5f4445a10655afeaafca","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":false}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '82'
    status_code: 200
- request:
    body: '{"keyColumns": [], "targetColumns": [], "excludeColumns": [], "monitoringMeta":
      {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns": []}, "meta":
      {"foo": "bar"}, "pending": false, "description": "my description"}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: PUT
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo/1
  response:
    content: '{"id":"616f5f4445a10655afeaafca","trainingSetId":"616f5f4345a10655afeaafc9","trainingSetName":"foo","number":1,"creationTime":"2021-10-20T00:13:56.004Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5f4345a10655afeaafc9/616f5f4445a10655afeaafca","containerPath":"616f5f4345a10655afeaafc9/616f5f4445a10655afeaafca","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"description":"my
      description","meta":{"foo":"bar"},"pending":false}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '82'
    status_code: 200
- request:
    body: ''
    headers:
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo/1
  response:
    content: '{"id":"616f5f4445a10655afeaafca","trainingSetId":"616f5f4345a10655afeaafc9","trainingSetName":"foo","number":1,"creationTime":"2021-10-20T00:13:56.004Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5f4345a10655afeaafc9/616f5f4445a10655afeaafca","containerPath":"616f5f4345a10655afeaafc9/616f5f4445a10655afeaafca","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"description":"my
      description","meta":{"foo":"bar"},"pending":false}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '10'
    status_code: 200
version: 1
