interactions:
- request:
    body: '{"projectId": "616f201f45a10655afeaaf9f", "keyColumns": ["user_id", "transaction_id"],
      "targetColumns": ["is_fraud"], "excludeColumns": ["extra_column1", "extra_column2"],
      "allColumns": ["ts", "user_id", "transaction_id", "is_fraud", "extra_column1",
      "extra_column2", "categorical_column1", "categorical_column2", "ordinal_column1"],
      "monitoringMeta": {"timestampColumns": ["ts"], "categoricalColumns": ["categorical_column1",
      "categorical_column2"], "ordinalColumns": ["ordinal_column1"]}, "meta": {"experiment_id":
      "123456"}, "description": null}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: POST
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo
  response:
    content: '{"id":"616f5c9345a10655afeaafc7","trainingSetId":"616f5c9345a10655afeaafc6","trainingSetName":"foo","number":1,"creationTime":"2021-10-20T00:02:27.633436Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5c9345a10655afeaafc6/616f5c9345a10655afeaafc7","containerPath":"616f5c9345a10655afeaafc6/616f5c9345a10655afeaafc7","keyColumns":["user_id","transaction_id"],"targetColumns":["is_fraud"],"excludeColumns":["extra_column1","extra_column2"],"allColumns":["ts","user_id","transaction_id","is_fraud","extra_column1","extra_column2","categorical_column1","categorical_column2","ordinal_column1"],"monitoringMeta":{"timestampColumns":["ts"],"categoricalColumns":["categorical_column1","categorical_column2"],"ordinalColumns":["ordinal_column1"]},"meta":{"experiment_id":"123456"},"pending":true}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '86'
    status_code: 200
- request:
    body: '{"keyColumns": ["user_id", "transaction_id"], "targetColumns": ["is_fraud"],
      "excludeColumns": ["extra_column1", "extra_column2"], "monitoringMeta": {"timestampColumns":
      ["ts"], "categoricalColumns": ["categorical_column1", "categorical_column2"],
      "ordinalColumns": ["ordinal_column1"]}, "meta": {"experiment_id": "123456"},
      "pending": false}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71[...]
