interactions:
- request:
    body: '{"projectId": "616f201f45a10655afeaaf9f", "keyColumns": ["c", "d"], "targetColumns":
      [], "excludeColumns": ["e", "f"], "allColumns": ["a", "b", "c", "d", "e", "f"],
      "monitoringMeta": {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns":
      []}, "meta": {}, "description": null}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: POST
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo
  response:
    content: '{"id":"616f5c9445a10655afeaafc8","trainingSetId":"616f5c9345a10655afeaafc6","trainingSetName":"foo","number":2,"creationTime":"2021-10-20T00:02:28.123358Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5c9345a10655afeaafc6/616f5c9445a10655afeaafc8","containerPath":"616f5c9345a10655afeaafc6/616f5c9445a10655afeaafc8","keyColumns":["c","d"],"targetColumns":[],"excludeColumns":["e","f"],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":true}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '89'
    status_code: 200
- request:
    body: '{"keyColumns": ["c", "d"], "targetColumns": [], "excludeColumns": ["e",
      "f"], "monitoringMeta": {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns":
      []}, "meta": {}, "pending": false}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: PUT
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo/2
  response:
    content: '{"id":"616f5c9445a10655afeaafc8","trainingSetId":"616f5c9345a10655afeaafc6","trainingSetName":"foo","number":2,"creationTime":"2021-10-20T00:02:28.123Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5c9345a10655afeaafc6/616f5c9445a10655afeaafc8","containerPath":"616f5c9345a10655afeaafc6/616f5c9445a10655afeaafc8","keyColumns":["c","d"],"targetColumns":[],"excludeColumns":["e","f"],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":false}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '81'
    status_code: 200
- request:
    body: ''
    headers:
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/foo/2
  response:
    content: '{"id":"616f5c9445a10655afeaafc8","trainingSetId":"616f5c9345a10655afeaafc6","trainingSetName":"foo","number":2,"creationTime":"2021-10-20T00:02:28.123Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f5c9345a10655afeaafc6/616f5c9445a10655afeaafc8","containerPath":"616f5c9345a10655afeaafc6/616f5c9445a10655afeaafc8","keyColumns":["c","d"],"targetColumns":[],"excludeColumns":["e","f"],"allColumns":["a","b","c","d","e","f"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":false}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '11'
    status_code: 200
version: 1
