interactions:
- request:
    body: '{"projectId": "616f201f45a10655afeaaf9f", "keyColumns": [], "targetColumns":
      [], "excludeColumns": [], "allColumns": ["a", "b", "c", "d", "e", "f", "g"],
      "monitoringMeta": {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns":
      []}, "meta": {}, "description": null}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: POST
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/ts-0
  response:
    content: '{"id":"616f637f45a10655afeaafd0","trainingSetId":"616f637f45a10655afeaafcf","trainingSetName":"ts-0","number":1,"creationTime":"2021-10-20T00:31:59.257663Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f637f45a10655afeaafcf/616f637f45a10655afeaafd0","containerPath":"616f637f45a10655afeaafcf/616f637f45a10655afeaafd0","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f","g"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":true}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '95'
    status_code: 200
- request:
    body: '{"keyColumns": [], "targetColumns": [], "excludeColumns": [], "monitoringMeta":
      {"timestampColumns": [], "categoricalColumns": [], "ordinalColumns": []}, "meta":
      {}, "pending": false}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: PUT
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/ts-0/1
  response:
    content: '{"id":"616f637f45a10655afeaafd0","trainingSetId":"616f637f45a10655afeaafcf","trainingSetName":"ts-0","number":1,"creationTime":"2021-10-20T00:31:59.257Z","path":"/trainingset/616f201f45a10655afeaaf9f/616f637f45a10655afeaafcf/616f637f45a10655afeaafd0","containerPath":"616f637f45a10655afeaafcf/616f637f45a10655afeaafd0","keyColumns":[],"targetColumns":[],"excludeColumns":[],"allColumns":["a","b","c","d","e","f","g"],"monitoringMeta":{"timestampColumns":[],"categoricalColumns":[],"ordinalColumns":[]},"meta":{},"pending":false}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '83'
    status_code: 200
- request:
    body: ''
    headers:
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/ts-0
  response:
    content: '{"id":"616f637f45a10655afeaafcf","projectId":"616f201f45a10655afeaaf9f","name":"ts-0","creationTime":"2021-10-20T00:31:59.251Z","meta":{}}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '9'
    status_code: 200
- request:
    body: '{"meta": {"foo": "bar"}}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: PUT
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/ts-0
  response:
    content: '{"id":"616f637f45a10655afeaafcf","projectId":"616f201f45a10655afeaaf9f","name":"ts-0","creationTime":"2021-10-20T00:31:59.251Z","meta":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '98'
    status_code: 200
[...]
- request:
    body: '{"projectId": "616f201f45a10655afeaaf9f", "meta": {"foo": "bar"}}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - 70d8a428050f3c369b71360f30795efbb0682ef1aa91f144955291f60d8eeb99
    method: POST
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/trainingset/find?offset=0&limit=10000&asc=true
  response:
    content: '[{"id":"616f637f45a10655afeaafcf","projectId":"616f201f45a10655afeaaf9f","name":"ts-0","creationTime":"2021-10-20T00:31:59.251Z","meta":{"foo":"bar"}},{"id":"616f638045a10655afeaafd3","projectId":"616f201f45a10655afeaaf9f","name":"ts-2","creationTime":"2021-10-20T00:32:00.995Z","meta":{"foo":"bar"}},{"id":"616f638245a10655afeaafd7","projectId":"616f201f45a10655afeaaf9f","name":"ts-4","creationTime":"2021-10-20T00:32:02.946Z","meta":{"foo":"bar"}},{"id":"616f638445a10655afeaafdb","projectId":"616f201f45a10655afeaaf9f","name":"ts-6","creationTime":"2021-10-20T00:32:04.837Z","meta":{"foo":"bar"}},{"id":"616f638645a10655afeaafdf","projectId":"616f201f45a10655afeaaf9f","name":"ts-8","creationTime":"2021-10-20T00:32:06.99Z","meta":{"foo":"bar"}}]'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '91'
    status_code: 200
version: 1
