interactions:
- request:
    body: ''
    headers:
      x-domino-api-key:
      - b9b339d163152218be8982769fec897561a57888aca799de328d3643e5d74148
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/v4/datasource/name/redshift_sdk_test
  response:
    content: '{"id":"61677736fa49a22d0025804d","name":"redshift_sdk_test","description":"Generic
      data source for redshift system test","ownerId":"61677430fa49a22d00258025","ownerInfo":{"ownerName":"system-test","ownerEmail":"systester@dominodatalab.com","isOwnerAdmin":false},"addedBy":{"61677649fa49a22d00258039":"system-test"},"authType": "AWSIAMBasic","dataSourceType":"RedshiftConfig","config":{"type":"DataSourceRedshiftConfig","dataSourceType":"RedshiftConfig","host":"redshift-cluster-regression.cen4bofhbbfl.us-west-2.redshift.amazonaws.com","port":"5439","database":"dev"},"credentialType":"Individual","lastUpdated":1634250138905,"lastUpdatedBy":"6167728efa49a22d0025801c","lastAccessed":{"61677649fa49a22d00258039":1634170729467},"addedToProjectTimeMap":{"61677649fa49a22d00258039":1634170729467},"isEveryone":false,"userIds":["6167728efa49a22d0025801c"],"projectIds":["61677649fa49a22d00258039"],"adminInfo":{"projectNames":{},"projectIdOwnerUsernameMap":{},"projectLastActiveMap":{"61677649fa49a22d00258039":"2021-10-14T00:18:45.051Z"}},"status":"Active"}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '11'
    status_code: 200
- request:
    body: ''
    headers:
      x-domino-api-key:
      - b9b339d163152218be8982769fec897561a57888aca799de328d3643e5d74148
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/v4/datasource/name/aduser-s3
  response:
    content: '{"id":"61687566a71c0c05f92e9168","name":"aduser-s3","ownerId":"616874b4a71c0c05f92e915f","ownerInfo":{"ownerName":"ad-user","ownerEmail":"ad-user@dominodatalab.com","isOwnerAdmin":false},"addedBy":{"616874b6a71c0c05f92e9161":"ad-user"},"authType": "AWSIAMBasic","dataSourceType":"S3Config","config":{"type":"DataSourceS3Config","dataSourceType":"S3Config","bucket":"s3regression","region":"us-west-2"},"credentialType":"Individual","lastUpdated":1634250146829,"lastUpdatedBy":"6167728efa49a22d0025801c","lastAccessed":{"616874b6a71c0c05f92e9161":0},"addedToProjectTimeMap":{"616874b6a71c0c05f92e9161":1634235750239},"isEveryone":false,"userIds":["6167728efa49a22d0025801c"],"projectIds":["616874b6a71c0c05f92e9161"],"adminInfo":{"projectNames":{"616874b6a71c0c05f92e9161":"quick-start"},"projectIdOwnerUsernameMap":{"616874b6a71c0c05f92e9161":"ad-user"},"projectLastActiveMap":{"616874b6a71c0c05f92e9161":null}},"status":"Active"}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '9'
    status_code: 200
version: 1
