interactions:
- request:
    body: ''
    headers:
      x-domino-api-key:
      - b9b339d163152218be8982769fec897561a57888aca799de328d3643e5d74148
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/v4/datasource/name/aduser-s3
  response:
    content: '{"id":"61687566a71c0c05f92e9168","name":"aduser-s3","ownerId":"616874b4a71c0c05f92e915f","ownerInfo":{"ownerName":"ad-user","ownerEmail":"ad-user@dominodatalab.com","isOwnerAdmin":false},"addedBy":{"61677290fa49a22d0025801e":"integration-test","616874b6a71c0c05f92e9161":"ad-user"},"dataSourceType":"S3Config","config":{"type":"DataSourceS3Config","dataSourceType":"S3Config","bucket":"s3regression","region":"us-west-2"},"credentialType":"Individual","lastUpdated":1634320169874,"lastUpdatedBy":"6167728efa49a22d0025801c","lastAccessed":{"61677290fa49a22d0025801e":1634320169874,"616874b6a71c0c05f92e9161":0},"addedToProjectTimeMap":{"61677290fa49a22d0025801e":1634320114971,"616874b6a71c0c05f92e9161":1634235750239},"isEveryone":false,"userIds":["6167728efa49a22d0025801c"],"projectIds":["616874b6a71c0c05f92e9161","61677290fa49a22d0025801e"],"adminInfo":{"projectNames":{"61677290fa49a22d0025801e":"quick-start","616874b6a71c0c05f92e9161":"quick-start"},"projectIdOwnerUsernameMap":{"61677290fa49a22d0025801e":"integration-test","616874b6a71c0c05f92e9161":"ad-user"},"projectLastActiveMap":{"616874b6a71c0c05f92e9161":null,"61677290fa49a22d0025801e":"2021-10-15T15:25:10.263Z"}},"status":"Active"}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '17'
    status_code: 200
- request:
    body: '{"datasourceId": "61687566a71c0c05f92e9168", "isReadWrite": true, "objectKey":
      "gabrieltest.csv", "configOverwrites": {}, "credentialOverwrites": {}}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - b9b339d163152218be8982769fec897561a57888aca799de328d3643e5d74148
    method: POST
    uri: http://localhost:8000/objectstore/key
  response:
    content: '"https://s3regression.s3.us-west-2.amazonaws.com/gabrieltest.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIA573DHWSVPYQMB2J5%2F20211015%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20211015T185307Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=df6a0206bf1d141e5e5bc01d887d1a423e4b1355e51b728c86b13a37dab67d14"

      '
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: testcontent
    headers:
    method: PUT
    uri: https://s3regression.s3.us-west-2.amazonaws.com/gabrieltest.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA573DHWSVPYQMB2J5%2F20211015%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20211015T185307Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=df6a0206bf1d141e5e5bc01d887d1a423e4b1355e51b728c86b13a37dab67d14
  response:
    content: ''
    headers:
      ETag:
      - '"296ab49302a43553e323fb8cb43fcd7a"'
      x-amz-request-id:
      - PQYXSMYRRZ5YVXVS
    status_code: 200
version: 1
