interactions:
- request:
    body: ''
    headers:
      x-domino-api-key:
      - b9b339d163152218be8982769fec897561a57888aca799de328d3643e5d74148
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/v4/datasource/name/dataset-test
  response:
    content: '{"id":"61677736fa49a22d0025804d","name":"dataset-test","description":"Generic dataset
      data source for system tests","ownerId":"61677430fa49a22d00258025","ownerInfo":{"ownerName":"system-test","ownerEmail":"systester@dominodatalab.com","isOwnerAdmin":false},"addedBy":{"61677649fa49a22d00258039":"system-test"},"authType": "NoAuth","dataSourceType":"DatasetConfig","config":{"snapshotID":"67acfad445df4d5f4d143e9d","datasetID":"67acfad445df4d5f4d143e9e"},"credentialType":"Individual","lastUpdated":1634250138905,"lastUpdatedBy":"6167728efa49a22d0025801c","lastAccessed":{"61677649fa49a22d00258039":1634170729467},"addedToProjectTimeMap":{"61677649fa49a22d00258039":1634170729467},"isEveryone":false,"userIds":["6167728efa49a22d0025801c"],"projectIds":["61677649fa49a22d00258039"],"adminInfo":{"projectNames":{},"projectIdOwnerUsernameMap":{},"projectLastActiveMap":{"61677649fa49a22d00258039":"2021-10-14T00:18:45.051Z"}},"status":"Active"}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '11'
    status_code: 200
- request:
    body: '{"datasourceId": "61677736fa49a22d0025804d", "isReadWrite": false, "objectKey":
      "aFakeFile", "configOverwrites": {}, "credentialOverwrites": {}}'
    headers:
      content-type:
      - application/json
      x-domino-api-key:
      - b9b339d163152218be8982769fec897561a57888aca799de328d3643e5d74148
    method: POST
    uri: http://localhost:8000/objectstore/key
  response:
    content: '{"errorType":"notFoundError","subType":"","rawError":"object key not found"}'
    headers:
      Content-Type:
      - application/json
    status_code: 400
version: 1
