interactions:
- request:
    body: ''
    headers:
      x-domino-api-key:
      - b9b339d163152218be8982769fec897561a57888aca799de328d3643e5d74148
    method: GET
    uri: https://mcetin5238.workbench-accessdata-team-sandbox.domino.tech/v4/datasource/name/dataset-test
  response:
    content: '{"success":false,"message":"Your role does not authorize you to perform
      this action","debugMessage":"AnonymousPrincipal is not authorized to perform
      this action. Required: [ManageDataSourceInternalData], but missing [ManageDataSourceInternalData]","reason":{"required":["ManageDataSourceInternalData"],"missing":["ManageDataSourceInternalData"]}}'
    headers:
      Content-Type:
      - application/json
      Domino-Server:
      - nginx-ingress,nucleus,
      Play-Processing-Time:
      - '11'
    status_code: 403
version: 1
