# coding: utf-8

"""
    Domino Volumes for NetApp ONTAP Microservice API

    Microservice responsible for managing Domino Volumes for NetApp ONTAP feature  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: support@dominodatalab.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from remotefs_api_client.api_client import ApiClient


class TasksApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def tasks_import_blobs_key_update_get(self, key, **kwargs):  # noqa: E501
        """Get import blobs task update  # noqa: E501

        Get import blobs task update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tasks_import_blobs_key_update_get(key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str key: Key of import blobs task (required)
        :return: RemotefsFiletaskTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.tasks_import_blobs_key_update_get_with_http_info(
                key, **kwargs
            )  # noqa: E501
        else:
            (data) = self.tasks_import_blobs_key_update_get_with_http_info(
                key, **kwargs
            )  # noqa: E501
            return data

    def tasks_import_blobs_key_update_get_with_http_info(self, key, **kwargs):  # noqa: E501
        """Get import blobs task update  # noqa: E501

        Get import blobs task update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tasks_import_blobs_key_update_get_with_http_info(key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str key: Key of import blobs task (required)
        :return: RemotefsFiletaskTask
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["key"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tasks_import_blobs_key_update_get" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'key' is set
        if "key" not in params or params["key"] is None:
            raise ValueError(
                "Missing the required parameter `key` when calling `tasks_import_blobs_key_update_get`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "key" in params:
            path_params["key"] = params["key"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/tasks/import-blobs/{key}/update",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="RemotefsFiletaskTask",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
